*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
:root{
    /* background colors */
    --bg-primary-color:#0c0c0c;
    --fill-primary-color:#f1f1f3;
    --food-primary-color:#ce2a2a;
    /* Text Color */
    --text-primary-color:#f0f0f0;
    /* Spacing */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-xxl:40px;
    --space-xxxl:48px;
    /* border color */
    --border-primary-color:#333333;
    /* border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px;
    --border-radius-xxl:24px;
    --border-radius-xxxl:28px;
}
body{
    background-color: var(--bg-primary-color);
    color:var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main,#section{
    height: 100%;
    width: 100%;
}
#section{
    padding: var(--space-xxl);
    display: flex;
    flex-direction: column;
    gap: var(--border-radius-xl);
}
#infos{
    display: flex;
    justify-content: space-between;
}
.info{
    border: 2px solid var(--border-primary-color);
    padding: var(--border-radius-lg);
    border-radius: var(--border-radius-xl);
}
#board{
    border: 2px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}
.block{
    width: 50px;
    height:50px;
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
}
.fill{
    background-color: var(--fill-primary-color);
}
.food{
    background-color: var(--food-primary-color);
}
.modal{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    position:fixed;
    top:0;
}
.start-game,.game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:var(--space-lg)
}
.game-over{
    display: none;
}
.btn{
    padding: var(--space-sm) var(--space-md);
    transform: all 0.3 ease;
    border: none;
    cursor:pointer;
    border-radius:var(--space-sm);
}
.btn:hover{
    transform: scale(1.1);
}